.single_captain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 10%;

    img{
        height: 500px;
        width: 500px;
        border-radius: 50px;
        margin: 5% 0%;
        object-fit: cover;
    }
}