.headerWrapper {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-color: slate;
  padding-top: 5vh;
  padding-right: 20px;
  position: relative;

  img {
    position: absolute;
    height: 10vh;
    top: 5%;
    left: 3%;
  }

  a {
    margin-right: 2vw;
    font-size: 23px;
    color: #ef4444;
    font-weight: bold;
  }
}
@media only screen and (max-width: 678px) {
  .headerWrapper {
    display: none;
  }
}
