.playerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    box-shadow: -5px 5px 20px #b2becf;
    border-radius: 10px;

    img{
        height: 40vh;
        width: 20vw;
        object-fit: contain;
        margin-bottom: 10px;
    }
}