.coureselWrapper{

    .itemWrapper{
        color: red;
        margin-right: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        img{
            object-fit: cover;
            width: 50vw;
            height: 50vh;
        }
    
        h2{
            color: black;
            margin-left: 40px;
        }
    }
}